<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141181002991-m2u9abs8g36p5u392k7on9edofm15qpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141181002991-m2u9abs8g36p5u392k7on9edofm15qpe</string>
	<key>API_KEY</key>
	<string>AIzaSyAg1P3JwoWZiMGSI32YfGS5Qo028GRdVzY</string>
	<key>GCM_SENDER_ID</key>
	<string>141181002991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.namdong.durirang</string>
	<key>PROJECT_ID</key>
	<string>durirang-fac12</string>
	<key>STORAGE_BUCKET</key>
	<string>durirang-fac12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141181002991:ios:298744179fd4766fcc271a</string>
</dict>
</plist>